{% extends "base.html.twig" %}

{% block title %}Agenda - Nouveau contact{% endblock %}

{% block content %}
    <h1 class="text-center my-3 display-5">Nouveau contact</h1>

    <div class="container">
        {{ form_start(contact_create_form) }} 

            <div class="mb-3">
                <label for="contact_fullName">Nom complet</label>
                {{ form_widget(contact_create_form.fullName, {'attr': {'class': 'form-control'} } ) }}
            </div>

            <div class="mb-3">
                <label for="contact_email">Email</label>
                {{ form_widget(contact_create_form.email, {'attr': {'class': 'form-control'} } ) }}
            </div>

            <div class="mb-3">
                <label for="contact_age">Age</label>
                {{ form_widget(contact_create_form.age, {'attr': {'class': 'form-control'} } ) }}
            </div>

            <input type="submit" class="btn btn-success" value="Créer" formnovalidate />
        {{ form_end(contact_create_form) }}
    </div>
    
{% endblock %}